// custom.scss
@import "../node_modules/bootstrap/scss/functions";

// // Default variable
// $body-bg: #000;
// $body-color: #111;
$body-bg: #333333; // Dark gray background
$body-color: #d1d1d1; // Light gray color for text
$navbar-dark-bg: #000000; // Black navbar background
$navbar-dark-color: #ffffff; // White text color for navbar

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/navbar";

// Additional styles for navbar if $navbar-dark-bg is not a default variable
// .navbar {
//     background-color: $navbar-dark-bg !important;
//     color: $navbar-dark-color;
//     margin-bottom: 80px; // Adjust the value as needed
// }

// // Ensure links in the navbar are also styled appropriately
// .navbar-dark .navbar-nav .nav-link {
//     color: $navbar-dark-color;
// }

// Navbar custom styles
.navbar {
    background-color: $navbar-dark-bg !important;
    color: $navbar-dark-color;
    justify-content: center; // Center vertically
    position: fixed; // Ensure navbar is fixed
    top: 0; // Align top to the viewport
    right: 0; // Align to the right side of the viewport
    height: 100vh; // Full viewport height
    width: 200px; // Define a fixed width for the navbar
    margin-bottom: 0; // Adjust as needed
}


// Ensuring links are styled appropriately
.navbar-dark .navbar-nav .nav-link {
    color: $navbar-dark-color;
}

