// custom.scss
@import "../node_modules/bootstrap/scss/functions";

// // Default variable
// $body-bg: #000;
// $body-color: #111;
$body-bg: #333333; // Dark gray background
$body-color: #d1d1d1; // Light gray color for text
$navbar-dark-bg: #000000; // Black navbar background
$navbar-dark-color: #ffffff; // White text color for navbar

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/navbar";

// Additional styles for navbar if $navbar-dark-bg is not a default variable
// .navbar {
//     background-color: $navbar-dark-bg !important;
//     color: $navbar-dark-color;
//     margin-bottom: 80px; // Adjust the value as needed
// }

// // Ensure links in the navbar are also styled appropriately
// .navbar-dark .navbar-nav .nav-link {
//     color: $navbar-dark-color;
// }

// Navbar custom styles
.navbar {
    background-color: $navbar-dark-bg !important;
    color: $navbar-dark-color;
    //justify-content: center; // Center vertically
    position: fixed; 
    top: 0; 
    right: 0; 
    height: 100vh; 
    width: 200px;
    margin-bottom: 0; 
    padding-top: 30px; // Adds padding above the image
    padding-bottom: 30px; // Adds padding below the image
    flex-wrap: wrap; // Allows items to wrap within the navbar
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center; // Center vertically
    align-items: center; // Center horizontally
    position: fixed; 
    height: 100vh; 
    width: 200px; 
    margin-bottom: 0;
    flex-wrap: wrap; // Allows items to wrap within the navbar
}


// Ensuring links are styled appropriately
.navbar-dark .navbar-nav .nav-link {
    color: $navbar-dark-color;
}

.navbar-brand img {
    margin-left: 15px; // Horizontal spacing
    padding-top: 40px; // Adds padding above the image
    padding-bottom: 30px; // Adds padding below the image
    flex-wrap: wrap; // Allows items to wrap within the navbar
}

.navbar-brand {
    display: flex;
    align-items: center; // Vertically centers items within navbar-brand
    justify-content: center; // Horizontally centers items within navbar-brand
    width: 100%; // Ensures it spans the full width for proper centering
    flex-wrap: wrap; // Allows content to wrap if needed
    padding: 15px 15px; // Adds vertical padding and horizontal padding for spacing
    text-align: center; // Centers the text horizontally
    overflow-wrap: break-word; // Allows long words to be broken and wrap to the next line
    word-break: break-all; // Break words at any character to prevent overflow
    white-space: normal; // Allows text to wrap naturally
}